.container-fluid img {
    height: 2rem;
}

.carousel-inner video {
    height: 300px;

}

#buscadorycheckboxs {

    margin-top: 1rem;
    margin-bottom: 1rem;

}
nav{
    background-image: url(../img/navbar1.jpg);
    background-size: 100%;
    background-position: 100% 40%;
}



.links{
    width: 60px;
    height: 30px;
}

.links2{
    width: 90px;
    height: 30px;
}

body{
    background-image: url(./img/backCharacters1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
 
.card img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

body>footer {
    background-color: #21252956;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 2rem;
}

body>main {
    min-height: 100vh;
}

#containerdetails img {
    height: fit-content;
    padding-top: 1rem;
}

#containercontact textarea {
    height: 100px;

}

#submitcontact {
    right: 0;
}

.subtitle_table {
    text-align: center;
}



table th,
td {
    border: solid black 1px;
    height: 2rem;
}


#buscador {
    width: 10rem;
    height: 1.5rem;
}

.no-results-message {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #888;
    margin-top: 50px;
}

.card {
    transition: transform 0.2s;
  
}

.card:hover {
    transform: scale(1.05);
}

#imagentabla {
    transition: transform 0.2s;
}

#imagentabla:hover {
    transform: scale(4);
}

.table-hover-custom tbody tr:hover {
    background-color: orange;
}


.rounded-table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
}

.rounded-table th,
.rounded-table td {
    border: 1px solid #dee2e6;
}

.custom-video {
    width: 100%; 
    height: 300px; 
    object-fit: cover; 
}

.tarjetas-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 5px;
    max-width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
 border-radius: 8px;
    text-align: center;
transition: transform 0.2s;
background-color: rgb(236, 216, 192);
}



.tarjetas-card:hover {
    transform: scale(1.05); /* Efecto de zoom al pasar el ratón */
}

#favorite-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; 
}
.tarjetas-card img {
    max-width: 100%;
    height: 8rem;
    border-radius: 8px;
    object-fit: cover;
  
}
.member-image{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
}

#item-description {
    font-family: 'Arial', sans-serif; 
    font-size: 1.2rem; 
    line-height: 1.5; 
    text-align: justify; 
    color: #333; 
    margin: 10px 0;
    padding: 10px; 
    background-color: #f9f9f9; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.form-check-label {
    margin-left: 5px; /* Ajusta el valor según sea necesario */
}

.form-check-input {
    margin-right: 5px; /* Ajusta el valor según sea necesario */
}

.form-check {
    display: flex;
    align-items: center; /* Alinea verticalmente el checkbox y el label */
}
/* 
.table-custom {
    background-color: rgb(236, 216, 192); 
}

.table-custom tbody tr:nth-child(odd) {
    background-color: rgba(236, 216, 192, 0.7); 
}

.table-custom tbody tr:nth-child(even) {
    background-color: rgba(236, 216, 192, 0.5); 
} */

.modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Fijo en la pantalla */
    z-index: 1; /* Se coloca sobre otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Altura completa */
    overflow: auto; /* Habilitar scroll si es necesario */
    background-color: rgb(0,0,0); /* Color de fondo */
    background-color: rgba(0,0,0,0.4); /* Fondo con opacidad */
}

/* Contenido del modal */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Ancho del modal */
    max-width: 800px;
    overflow-y: auto;
}

/* Botón de cierre */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}


.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#favorite-container-eq{
    display: flex;
    flex-wrap: wrap;
    gap: 16px; 
    max-height: 70vh; 
    overflow-y: auto;
    
}
#favorite-container-eq h3{
    color: white;
}
#favorite-container {
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
    gap: 16px; 
    max-height: 70vh; 
    overflow-y: auto;
}


#favorite-container .clan-card {
    flex: 1 1 calc(20% - 10px); /* Ajustar el tamaño de las tarjetas */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 150px; /* Asegurar que todas las tarjetas tengan la misma altura */
   height: auto;
}

#openFavoritesBtn{
    margin-left:5rem;
    height: 1.8rem;
    background-color: rgb(236, 216, 192);
}
