*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.logo{
    height: 40px;
    width: 100px;
}

.img-banner{
    height: 190px;
    width: 100%;
}
p{
    font-size: 1.3rem;
    font-weight: 700;
}
h3{
    font-size: 2rem;
    color: rgb(38, 0, 255);
}

nav{
    background-image: url(../img/navbar1.jpg);
    background-size: 100%;
    background-position: 100% 40%;
}
.detallesFondo{
    background-image: url(../img/fondoDetails.webp);
    background-size: 100% 100%;
}

.links{
    width: 60px;
    height: 30px;
}

.links2{
    width: 90px;
    height: 30px;
}

body{
    background-image: url(../img/backCharacters1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.card{
    height: 300px;
    transition: all 0.2s;
    background:transparent
}

.card:hover{
   transform: scale(1.15);
}

.btn{
    background-image: url(../img/boton.png);
    background-size: 100% 100%;
    height: 40px;
}

.img-card{
    height: 50% !important;
    border-radius: 0px;
}

.imgDetails{
    width: 300px;
    height: 200px;
}

.categorias{
    height: 250px;
    width: 100%;
    transition: all 0.2s;
}

.contenedorClanes, .contenedorAldeas, .contenedorKekkeiGenkai, .contenedorTeams{
    background: white;
}

.characters{
    height: 130vh;
    width: 65vw;
}
.clanes, .villages, .kekkeiGenkai, .teams{
    background: white;
    height: 100px;
}
.categorias:hover{
    transform: scale(1.15);
}

.card-header{
    height: 50px;
}

.details{
    width: 100vw;
    min-height: 82vh;
}

.details-content{
    box-shadow: 16px 14px 20px black;
    border-radius: 10px;
}

.custom-video {
    width: 100%; 
    height: 300px; 
    object-fit: cover; 
}